<div ng-controller="calculadoraController">
  <form>
    <div class="mb-3">
      <label for="num1" class="form-label">Número 1</label>
      <input type="number" class="form-control shadow" id="op1" ng-model="op1" />
    </div>
    <div class="mb-3">
      <label for="num2" class="form-label">Número 2</label>
      <input type="number" class="form-control shadow" id="op2" ng-model="op2" />
    </div>
    <div class="mb-5">
      <label for="operacion" class="form-label">Operación</label>
      <select class="form-select shadow" id="operacion" ng-model="operacion">
        <option value="suma">Suma</option>
        <option value="resta">Resta</option>
        <option value="multi">Multiplicación</option>
        <option value="divi">División</option>
      </select>
    </div>
    <div class="form-inline">
      <button type="button" class="btn btn-danger shadow" ng-click="calcular()">
        Calcular
      </button>
    </div>
  </form>
  <div class="mt-4">
    <h1 class="text-muted fw-bold">{{resultado}}</h1>
  </div>
</div>
